body {
  background-color: #957DAD; /* For browsers that do not support gradients */
  background-image: linear-gradient(90deg, #957DAD, #D291BC); /* Standard syntax (must be last) */
}
#left{
  text-align: left;
}
